<%-include("../partials/header.ejs")%>

<h1>Sign In!</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Enter user name">
    <input type="password" name="password" placeholder="Enter password">
    <button>Submit !</button>

</form>

<%-include("../partials/footer.ejs")%>
