<!DOCTYPE html>
<html>
    <header>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </header>
    <body>
    <nav class="navbar  navbar-expand navbar-dark bg-dark ">
            <a class="navbar-brand" href="/landing">YelpCamp</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <%if(!currentUser){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign In</a>
                    </li>
                    <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link">Currently SignedIn as:<%=currentUser.username%></a> 
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                    </li>   
                    <%} %>
                </ul>
                
            </div>
    </nav>
    <div class="container">
        <%if(success && success.length>0){%>
        <div class="alert alert-success mt-3" role="alert">
            <%=success%>
        </div>
        <%}if(error && error.length>0){%>
        <div class="alert alert-danger mt-3" role="alert">
            <%=error%>
        </div>
        <%}%>
    </div>

